#!/bin/zsh 

source ~/.scripts/direnv_java
# ~/scripts/direnv_java should contains this(requires brew installed): 
#use_java() {
#    # Install jabba for management of Java versions
#    if ! has jabba; then
#        echo "Installing jabba"
#        brew install jabba
#    fi
#    
#    # Install the required version of Java if not already installed
#    if [[ "$(jabba link $1)" == "" ]]; then
#        echo "Java $1 is not installed; attempting to install"
#        jabba install $1
#   fi
#
#    # Set JAVA_HOME, and load the required version of Java onto the path
#    export JAVA_HOME=$(jabba link $1)/Contents/Home
#    echo "JAVA_HOME=$JAVA_HOME"
#    load_prefix "$JAVA_HOME"
#}
#
# Alternatively, look for a .jabbarc file, and use that as the Java version instead
#jabbarc="$(find_up .jabbarc || true)"
#if [[ -f "${jabbarc}" ]]; then
#    watch_file "${jabbarc}"
#    jabba_version=$(cat ${jabbarc} | grep -v "#" | cut -d " " -f2)
#    echo "Using ${jabba_version} declared in ${jabbarc}"
#    use_java "${jabba_version}"
#fi





use java amazon-corretto@1.8.0-0
export JAVA_HOME=~/.jabba/jdk/amazon-corretto@1.8.0-0/Contents/Home

# Prints java version
echo "------------------------------"
java -version
echo "------------------------------"
